<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<integer>650</integer>
		<key>img</key>
		<string>http://a3.att.hudong.com/75/15/19300001203917132241154825776_950.jpg</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>942</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>450</integer>
		<key>img</key>
		<string>http://sc.jb51.net/uploads/allimg/130806/2-130P621135X91.jpg</string>
		<key>price</key>
		<string>¥79</string>
		<key>w</key>
		<integer>650</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>446</integer>
		<key>img</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/ad24d04a8477063b9922edb0.jpg</string>
		<key>price</key>
		<string>¥195</string>
		<key>w</key>
		<integer>670</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1000</integer>
		<key>img</key>
		<string>http://img01.taopic.com/140930/240411-14093006252521.jpg</string>
		<key>price</key>
		<string>¥119</string>
		<key>w</key>
		<integer>665</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>358</integer>
		<key>img</key>
		<string>http://zzpvck.com/uploads/allimg/c151104/144B361cU5F-4X57.png</string>
		<key>price</key>
		<string>¥139</string>
		<key>w</key>
		<integer>538</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1443</integer>
		<key>img</key>
		<string>http://img4.mypsd.com.cn/20110728/Mypsd_63268_201107281755020002B.jpg</string>
		<key>price</key>
		<string>¥229</string>
		<key>w</key>
		<integer>1024</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>600</integer>
		<key>img</key>
		<string>http://pic.hualongxiang.com/attachment/thumb/Day_100901/1225_469048_226982e54e689f8.jpg</string>
		<key>price</key>
		<string>¥145</string>
		<key>w</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>262</integer>
		<key>img</key>
		<string>http://img3.imgtn.bdimg.com/it/u=975905779,969907382&amp;fm=21&amp;gp=0.jpg</string>
		<key>price</key>
		<string>¥105</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>220</integer>
		<key>img</key>
		<string>http://s12.mogujie.cn/b7/bao/131009/jmn6u_kqyxqx2fkfbewv3wgfjeg5sckzsew_405x558.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥88</string>
		<key>w</key>
		<integer>349</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>220</integer>
		<key>img</key>
		<string>http://img5.imgtn.bdimg.com/it/u=2574717794,2345942485&amp;fm=21&amp;gp=0.jpg</string>
		<key>price</key>
		<string>¥165</string>
		<key>w</key>
		<integer>292</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>696</integer>
		<key>img</key>
		<string>http://img.juimg.com/tuku/yulantu/131226/328166-13122614412911.jpg</string>
		<key>price</key>
		<string>¥88</string>
		<key>w</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>330</integer>
		<key>img</key>
		<string>http://img15.3lian.com/2016/h1/228/87.jpg</string>
		<key>price</key>
		<string>¥75</string>
		<key>w</key>
		<integer>330</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>667</integer>
		<key>img</key>
		<string>http://img01.taopic.com/141009/235017-14100ZF33537.jpg</string>
		<key>price</key>
		<string>¥158</string>
		<key>w</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>667</integer>
		<key>img</key>
		<string>http://img01.taopic.com/141009/235017-14100ZF33537.jpg</string>
		<key>price</key>
		<string>¥158</string>
		<key>w</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>450</integer>
		<key>img</key>
		<string>http://sc.jb51.net/uploads/allimg/130806/2-130P621135X91.jpg</string>
		<key>price</key>
		<string>¥79</string>
		<key>w</key>
		<integer>650</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>358</integer>
		<key>img</key>
		<string>http://zzpvck.com/uploads/allimg/c151104/144B361cU5F-4X57.png</string>
		<key>price</key>
		<string>¥139</string>
		<key>w</key>
		<integer>538</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>262</integer>
		<key>img</key>
		<string>http://img3.imgtn.bdimg.com/it/u=975905779,969907382&amp;fm=21&amp;gp=0.jpg</string>
		<key>price</key>
		<string>¥105</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>696</integer>
		<key>img</key>
		<string>http://img.juimg.com/tuku/yulantu/131226/328166-13122614412911.jpg</string>
		<key>price</key>
		<string>¥88</string>
		<key>w</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>330</integer>
		<key>img</key>
		<string>http://img15.3lian.com/2016/h1/228/87.jpg</string>
		<key>price</key>
		<string>¥75</string>
		<key>w</key>
		<integer>330</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>650</integer>
		<key>img</key>
		<string>http://a3.att.hudong.com/75/15/19300001203917132241154825776_950.jpg</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>942</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>446</integer>
		<key>img</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/ad24d04a8477063b9922edb0.jpg</string>
		<key>price</key>
		<string>¥195</string>
		<key>w</key>
		<integer>670</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>600</integer>
		<key>img</key>
		<string>http://pic.hualongxiang.com/attachment/thumb/Day_100901/1225_469048_226982e54e689f8.jpg</string>
		<key>price</key>
		<string>¥145</string>
		<key>w</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>220</integer>
		<key>img</key>
		<string>http://s12.mogujie.cn/b7/bao/131009/jmn6u_kqyxqx2fkfbewv3wgfjeg5sckzsew_405x558.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥88</string>
		<key>w</key>
		<integer>349</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>446</integer>
		<key>img</key>
		<string>http://imgsrc.baidu.com/forum/pic/item/ad24d04a8477063b9922edb0.jpg</string>
		<key>price</key>
		<string>¥195</string>
		<key>w</key>
		<integer>670</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>220</integer>
		<key>img</key>
		<string>http://s12.mogujie.cn/b7/bao/131009/jmn6u_kqyxqx2fkfbewv3wgfjeg5sckzsew_405x558.jpg_200x999.jpg</string>
		<key>price</key>
		<string>¥88</string>
		<key>w</key>
		<integer>349</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>650</integer>
		<key>img</key>
		<string>http://a3.att.hudong.com/75/15/19300001203917132241154825776_950.jpg</string>
		<key>price</key>
		<string>¥169</string>
		<key>w</key>
		<integer>942</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1000</integer>
		<key>img</key>
		<string>http://img01.taopic.com/140930/240411-14093006252521.jpg</string>
		<key>price</key>
		<string>¥119</string>
		<key>w</key>
		<integer>665</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>358</integer>
		<key>img</key>
		<string>http://zzpvck.com/uploads/allimg/c151104/144B361cU5F-4X57.png</string>
		<key>price</key>
		<string>¥139</string>
		<key>w</key>
		<integer>538</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>600</integer>
		<key>img</key>
		<string>http://pic.hualongxiang.com/attachment/thumb/Day_100901/1225_469048_226982e54e689f8.jpg</string>
		<key>price</key>
		<string>¥145</string>
		<key>w</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>667</integer>
		<key>img</key>
		<string>http://img01.taopic.com/141009/235017-14100ZF33537.jpg</string>
		<key>price</key>
		<string>¥158</string>
		<key>w</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1443</integer>
		<key>img</key>
		<string>http://img4.mypsd.com.cn/20110728/Mypsd_63268_201107281755020002B.jpg</string>
		<key>price</key>
		<string>¥229</string>
		<key>w</key>
		<integer>1024</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1000</integer>
		<key>img</key>
		<string>http://img01.taopic.com/140930/240411-14093006252521.jpg</string>
		<key>price</key>
		<string>¥119</string>
		<key>w</key>
		<integer>665</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>450</integer>
		<key>img</key>
		<string>http://sc.jb51.net/uploads/allimg/130806/2-130P621135X91.jpg</string>
		<key>price</key>
		<string>¥79</string>
		<key>w</key>
		<integer>650</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>1443</integer>
		<key>img</key>
		<string>http://img4.mypsd.com.cn/20110728/Mypsd_63268_201107281755020002B.jpg</string>
		<key>price</key>
		<string>¥229</string>
		<key>w</key>
		<integer>1024</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>330</integer>
		<key>img</key>
		<string>http://img15.3lian.com/2016/h1/228/87.jpg</string>
		<key>price</key>
		<string>¥75</string>
		<key>w</key>
		<integer>330</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>262</integer>
		<key>img</key>
		<string>http://img3.imgtn.bdimg.com/it/u=975905779,969907382&amp;fm=21&amp;gp=0.jpg</string>
		<key>price</key>
		<string>¥105</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>330</integer>
		<key>img</key>
		<string>http://img15.3lian.com/2016/h1/228/87.jpg</string>
		<key>price</key>
		<string>¥75</string>
		<key>w</key>
		<integer>330</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>667</integer>
		<key>img</key>
		<string>http://img01.taopic.com/141009/235017-14100ZF33537.jpg</string>
		<key>price</key>
		<string>¥158</string>
		<key>w</key>
		<integer>1000</integer>
	</dict>
</array>
</plist>
